In [2]:
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd

In [4]:
df=pd.read_csv('HRDataset.csv')

In [5]:
df

,Employee_Name,EmpID,MarriedID,MaritalStatusID,GenderID,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,Salary,...,ManagerName,ManagerID,RecruitmentSource,PerformanceScore,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,LastPerformanceReview_Date,DaysLateLast30,Absences
0,"Adinolfi, Wilson K",10026,0,0,1,1,5,4,0,62506,...,Michael Albert,22.0,LinkedIn,Exceeds,4.60,5,0,1/17/2019,0,1
1,"Ait Sidi, Karthikeyan",10084,1,1,1,5,3,3,0,104437,...,Simon Roup,4.0,Indeed,Fully Meets,4.96,3,6,2/24/2016,0,17
2,"Akinkuolie, Sarah",10196,1,1,0,5,5,3,0,64955,...,Kissy Sullivan,20.0,LinkedIn,Fully Meets,3.02,3,0,5/15/2012,0,3
3,"Alagbe,Trina",10088,1,1,0,1,5,3,0,64991,...,Elijiah Gray,16.0,Indeed,Fully Meets,4.84,5,0,1/3/2019,0,15
4,"Anderson, Carol",10069,0,2,0,5,5,3,0,50825,...,Webster Butler,39.0,Google Search,Fully Meets,5.00,4,0,2/1/2016,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
306,"Woodson, Jason",10135,0,0,1,1,5,3,0,65893,...,Kissy Sullivan,20.0,LinkedIn,Fully Meets,4.07,4,0,2/28/2019,0,13
307,"Ybarra, Catherine",10301,0,0,0,5,5,1,0,48513,...,Brannon Miller,12.0,Google Search,PIP,3.20,2,0,9/2/2015,5,4
308,"Zamora, Jennifer",10010,0,0,0,1,3,4,0,220450,...,Janet King,2.0,Employee Referral,Exceeds,4.60,5,6,2/21/2019,0,16
309,"Zhou, Julia",10043,0,0,0,1,3,3,0,89292,...,Simon Roup,4.0,Employee Referral,Fully Meets,5.00,3,5,2/1/2019,0,11
310,"Zima, Colleen",10271,0,4,0,1,5,3,0,45046,...,David Stanley,14.0,LinkedIn,Fully Meets,4.50,5,0,1/30/2019,0,2

In [7]:
df.shape

(311, 36)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 311 entries, 0 to 310
Data columns (total 36 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Employee_Name               311 non-null    object
 1   EmpID                       311 non-null    int64
 2   MarriedID                   311 non-null    int64
 3   MaritalStatusID             311 non-null    int64
 4   GenderID                    311 non-null    int64
 5   EmpStatusID                 311 non-null    int64
 6   DeptID                      311 non-null    int64
 7   PerfScoreID                 311 non-null    int64
 8   FromDiversityJobFairID      311 non-null    int64
 9   Salary                      311 non-null    int64
 10  Termd                       311 non-null    int64
 11  PositionID                  311 non-null    int64
 12  Position                    311 non-null    object
 13  State                       311 non-null    object
 14  Zip                         311 non-null    int64
 15  DOB                         311 non-null    object
 16  Sex                         311 non-null    object
 17  MaritalDesc                 311 non-null    object
 18  CitizenDesc                 311 non-null    object
 19  HispanicLatino              311 non-null    object
 20  RaceDesc                    311 non-null    object
 21  DateofHire                  311 non-null    object
 22  DateofTermination           104 non-null    object
 23  TermReason                  311 non-null    object
 24  EmploymentStatus            311 non-null    object
 25  Department                  311 non-null    object
 26  ManagerName                 311 non-null    object
 27  ManagerID                   303 non-null    float64
 28  RecruitmentSource           311 non-null    object
 29  PerformanceScore            311 non-null    object
 30  EngagementSurvey            311 non-null    float64
 31  EmpSatisfaction             311 non-null    int64
 32  SpecialProjectsCount        311 non-null    int64
 33  LastPerformanceReview_Date  311 non-null    object
 34  DaysLateLast30              311 non-null    int64
 35  Absences                    311 non-null    int64
dtypes: float64(2), int64(16), object(18)
memory usage: 87.6+ KB

In [10]:
df.columns

Index(['Employee_Name', 'EmpID', 'MarriedID', 'MaritalStatusID', 'GenderID',
       'EmpStatusID', 'DeptID', 'PerfScoreID', 'FromDiversityJobFairID',
       'Salary', 'Termd', 'PositionID', 'Position', 'State', 'Zip', 'DOB',
       'Sex', 'MaritalDesc', 'CitizenDesc', 'HispanicLatino', 'RaceDesc',
       'DateofHire', 'DateofTermination', 'TermReason', 'EmploymentStatus',
       'Department', 'ManagerName', 'ManagerID', 'RecruitmentSource',
       'PerformanceScore', 'EngagementSurvey', 'EmpSatisfaction',
       'SpecialProjectsCount', 'LastPerformanceReview_Date', 'DaysLateLast30',
       'Absences'],
      dtype='object')

In [12]:
df.sort_values('EmpID',ascending=True ,inplace=True)

In [13]:
df

,Employee_Name,EmpID,MarriedID,MaritalStatusID,GenderID,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,Salary,...,ManagerName,ManagerID,RecruitmentSource,PerformanceScore,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,LastPerformanceReview_Date,DaysLateLast30,Absences
36,"Candie, Calvin",10001,0,0,1,1,5,4,0,72640,...,Janet King,2.0,Indeed,Exceeds,5.00,3,0,2/22/2019,0,14
5,"Anderson, Linda",10002,0,0,0,1,5,4,0,57568,...,Amy Dunn,11.0,LinkedIn,Exceeds,5.00,5,0,1/7/2019,0,15
22,"Billis, Helen",10003,1,1,0,1,5,4,0,62910,...,Brannon Miller,12.0,Indeed,Exceeds,5.00,3,0,2/27/2019,0,19
174,"Lynch, Lindsay",10004,0,0,0,5,5,4,1,47434,...,Webster Butler,39.0,Diversity Job Fair,Exceeds,5.00,4,0,2/2/2015,0,17
212,"Patronick, Lucas",10005,0,0,1,5,4,4,1,108987,...,Alex Sweetwater,10.0,Diversity Job Fair,Exceeds,5.00,5,3,8/16/2015,0,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
267,"Stansfield, Norman",10307,1,1,1,1,6,1,0,58273,...,Lynn Daneault,21.0,Website,PIP,1.81,2,0,1/17/2019,3,5
90,"Fernandes, Nilson",10308,1,1,1,1,5,1,0,64057,...,Amy Dunn,11.0,Indeed,PIP,1.56,5,0,1/3/2019,6,15
91,"Fett, Boba",10309,0,0,1,1,3,1,0,53366,...,Peter Monroe,7.0,LinkedIn,PIP,1.20,3,6,2/4/2019,3,2
69,"Desimone, Carl",10310,1,1,1,1,5,1,0,53189,...,Amy Dunn,11.0,Indeed,PIP,1.12,2,0,1/31/2019,4,9
64,"Dee, Randy",10311,1,1,1,1,6,1,0,56991,...,Brannon Miller,12.0,Indeed,Fully Meets,4.30,4,3,1/31/2019,2,2

In [15]:
df=pd.read_csv('HRDataset.csv',index_col='Employee_Name')

In [16]:
df

,EmpID,MarriedID,MaritalStatusID,GenderID,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,Salary,Termd,...,ManagerName,ManagerID,RecruitmentSource,PerformanceScore,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,LastPerformanceReview_Date,DaysLateLast30,Absences
Employee_Name,,,,,,,,,,,,,,,,,,,,,
"Adinolfi, Wilson K",10026,0,0,1,1,5,4,0,62506,0,...,Michael Albert,22.0,LinkedIn,Exceeds,4.60,5,0,1/17/2019,0,1
"Ait Sidi, Karthikeyan",10084,1,1,1,5,3,3,0,104437,1,...,Simon Roup,4.0,Indeed,Fully Meets,4.96,3,6,2/24/2016,0,17
"Akinkuolie, Sarah",10196,1,1,0,5,5,3,0,64955,1,...,Kissy Sullivan,20.0,LinkedIn,Fully Meets,3.02,3,0,5/15/2012,0,3
"Alagbe,Trina",10088,1,1,0,1,5,3,0,64991,0,...,Elijiah Gray,16.0,Indeed,Fully Meets,4.84,5,0,1/3/2019,0,15
"Anderson, Carol",10069,0,2,0,5,5,3,0,50825,1,...,Webster Butler,39.0,Google Search,Fully Meets,5.00,4,0,2/1/2016,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"Woodson, Jason",10135,0,0,1,1,5,3,0,65893,0,...,Kissy Sullivan,20.0,LinkedIn,Fully Meets,4.07,4,0,2/28/2019,0,13
"Ybarra, Catherine",10301,0,0,0,5,5,1,0,48513,1,...,Brannon Miller,12.0,Google Search,PIP,3.20,2,0,9/2/2015,5,4
"Zamora, Jennifer",10010,0,0,0,1,3,4,0,220450,0,...,Janet King,2.0,Employee Referral,Exceeds,4.60,5,6,2/21/2019,0,16
"Zhou, Julia",10043,0,0,0,1,3,3,0,89292,0,...,Simon Roup,4.0,Employee Referral,Fully Meets,5.00,3,5,2/1/2019,0,11
"Zima, Colleen",10271,0,4,0,1,5,3,0,45046,0,...,David Stanley,14.0,LinkedIn,Fully Meets,4.50,5,0,1/30/2019,0,2

In [17]:
df.sort_values('EmpID',ascending=True ,inplace=True)

In [18]:
df

,EmpID,MarriedID,MaritalStatusID,GenderID,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,Salary,Termd,...,ManagerName,ManagerID,RecruitmentSource,PerformanceScore,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,LastPerformanceReview_Date,DaysLateLast30,Absences
Employee_Name,,,,,,,,,,,,,,,,,,,,,
"Candie, Calvin",10001,0,0,1,1,5,4,0,72640,0,...,Janet King,2.0,Indeed,Exceeds,5.00,3,0,2/22/2019,0,14
"Anderson, Linda",10002,0,0,0,1,5,4,0,57568,0,...,Amy Dunn,11.0,LinkedIn,Exceeds,5.00,5,0,1/7/2019,0,15
"Billis, Helen",10003,1,1,0,1,5,4,0,62910,0,...,Brannon Miller,12.0,Indeed,Exceeds,5.00,3,0,2/27/2019,0,19
"Lynch, Lindsay",10004,0,0,0,5,5,4,1,47434,1,...,Webster Butler,39.0,Diversity Job Fair,Exceeds,5.00,4,0,2/2/2015,0,17
"Patronick, Lucas",10005,0,0,1,5,4,4,1,108987,1,...,Alex Sweetwater,10.0,Diversity Job Fair,Exceeds,5.00,5,3,8/16/2015,0,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"Stansfield, Norman",10307,1,1,1,1,6,1,0,58273,0,...,Lynn Daneault,21.0,Website,PIP,1.81,2,0,1/17/2019,3,5
"Fernandes, Nilson",10308,1,1,1,1,5,1,0,64057,0,...,Amy Dunn,11.0,Indeed,PIP,1.56,5,0,1/3/2019,6,15
"Fett, Boba",10309,0,0,1,1,3,1,0,53366,0,...,Peter Monroe,7.0,LinkedIn,PIP,1.20,3,6,2/4/2019,3,2
"Desimone, Carl",10310,1,1,1,1,5,1,0,53189,0,...,Amy Dunn,11.0,Indeed,PIP,1.12,2,0,1/31/2019,4,9
"Dee, Randy",10311,1,1,1,1,6,1,0,56991,0,...,Brannon Miller,12.0,Indeed,Fully Meets,4.30,4,3,1/31/2019,2,2

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 311 entries, Candie, Calvin to Dee, Randy
Data columns (total 35 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   EmpID                       311 non-null    int64
 1   MarriedID                   311 non-null    int64
 2   MaritalStatusID             311 non-null    int64
 3   GenderID                    311 non-null    int64
 4   EmpStatusID                 311 non-null    int64
 5   DeptID                      311 non-null    int64
 6   PerfScoreID                 311 non-null    int64
 7   FromDiversityJobFairID      311 non-null    int64
 8   Salary                      311 non-null    int64
 9   Termd                       311 non-null    int64
 10  PositionID                  311 non-null    int64
 11  Position                    311 non-null    object
 12  State                       311 non-null    object
 13  Zip                         311 non-null    int64
 14  DOB                         311 non-null    object
 15  Sex                         311 non-null    object
 16  MaritalDesc                 311 non-null    object
 17  CitizenDesc                 311 non-null    object
 18  HispanicLatino              311 non-null    object
 19  RaceDesc                    311 non-null    object
 20  DateofHire                  311 non-null    object
 21  DateofTermination           104 non-null    object
 22  TermReason                  311 non-null    object
 23  EmploymentStatus            311 non-null    object
 24  Department                  311 non-null    object
 25  ManagerName                 311 non-null    object
 26  ManagerID                   303 non-null    float64
 27  RecruitmentSource           311 non-null    object
 28  PerformanceScore            311 non-null    object
 29  EngagementSurvey            311 non-null    float64
 30  EmpSatisfaction             311 non-null    int64
 31  SpecialProjectsCount        311 non-null    int64
 32  LastPerformanceReview_Date  311 non-null    object
 33  DaysLateLast30              311 non-null    int64
 34  Absences                    311 non-null    int64
dtypes: float64(2), int64(16), object(17)
memory usage: 87.5+ KB

In [21]:
df.describe()

,EmpID,MarriedID,MaritalStatusID,GenderID,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,Salary,Termd,PositionID,Zip,ManagerID,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,DaysLateLast30,Absences
count,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000,303.000000,311.000000,311.000000,311.000000,311.000000,311.000000
mean,10156.000000,0.398714,0.810289,0.434084,2.392283,4.610932,2.977492,0.093248,69020.684887,0.334405,16.845659,6555.482315,14.570957,4.110000,3.890675,1.218650,0.414791,10.237942
std,89.922189,0.490423,0.943239,0.496435,1.794383,1.083487,0.587072,0.291248,25156.636930,0.472542,6.223419,16908.396884,8.078306,0.789938,0.909241,2.349421,1.294519,5.852596
min,10001.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000,45046.000000,0.000000,1.000000,1013.000000,1.000000,1.120000,1.000000,0.000000,0.000000,1.000000
25%,10078.500000,0.000000,0.000000,0.000000,1.000000,5.000000,3.000000,0.000000,55501.500000,0.000000,18.000000,1901.500000,10.000000,3.690000,3.000000,0.000000,0.000000,5.000000
50%,10156.000000,0.000000,1.000000,0.000000,1.000000,5.000000,3.000000,0.000000,62810.000000,0.000000,19.000000,2132.000000,15.000000,4.280000,4.000000,0.000000,0.000000,10.000000
75%,10233.500000,1.000000,1.000000,1.000000,5.000000,5.000000,3.000000,0.000000,72036.000000,1.000000,20.000000,2355.000000,19.000000,4.700000,5.000000,0.000000,0.000000,15.000000
max,10311.000000,1.000000,4.000000,1.000000,5.000000,6.000000,4.000000,1.000000,250000.000000,1.000000,30.000000,98052.000000,39.000000,5.000000,5.000000,8.000000,6.000000,20.000000

In [22]:
df.isna()

,EmpID,MarriedID,MaritalStatusID,GenderID,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,Salary,Termd,...,ManagerName,ManagerID,RecruitmentSource,PerformanceScore,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,LastPerformanceReview_Date,DaysLateLast30,Absences
Employee_Name,,,,,,,,,,,,,,,,,,,,,
"Candie, Calvin",False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
"Anderson, Linda",False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
"Billis, Helen",False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
"Lynch, Lindsay",False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
"Patronick, Lucas",False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"Stansfield, Norman",False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
"Fernandes, Nilson",False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
"Fett, Boba",False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
"Desimone, Carl",False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
"Dee, Randy",False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [24]:
df.isnull().sum()

EmpID                           0
MarriedID                       0
MaritalStatusID                 0
GenderID                        0
EmpStatusID                     0
DeptID                          0
PerfScoreID                     0
FromDiversityJobFairID          0
Salary                          0
Termd                           0
PositionID                      0
Position                        0
State                           0
Zip                             0
DOB                             0
Sex                             0
MaritalDesc                     0
CitizenDesc                     0
HispanicLatino                  0
RaceDesc                        0
DateofHire                      0
DateofTermination             207
TermReason                      0
EmploymentStatus                0
Department                      0
ManagerName                     0
ManagerID                       8
RecruitmentSource               0
PerformanceScore                0
EngagementSurvey                0
EmpSatisfaction                 0
SpecialProjectsCount            0
LastPerformanceReview_Date      0
DaysLateLast30                  0
Absences                        0
dtype: int64

In [25]:
df.fillna("0",inplace=True)

In [26]:
df.isna().sum()

EmpID                         0
MarriedID                     0
MaritalStatusID               0
GenderID                      0
EmpStatusID                   0
DeptID                        0
PerfScoreID                   0
FromDiversityJobFairID        0
Salary                        0
Termd                         0
PositionID                    0
Position                      0
State                         0
Zip                           0
DOB                           0
Sex                           0
MaritalDesc                   0
CitizenDesc                   0
HispanicLatino                0
RaceDesc                      0
DateofHire                    0
DateofTermination             0
TermReason                    0
EmploymentStatus              0
Department                    0
ManagerName                   0
ManagerID                     0
RecruitmentSource             0
PerformanceScore              0
EngagementSurvey              0
EmpSatisfaction               0
SpecialProjectsCount          0
LastPerformanceReview_Date    0
DaysLateLast30                0
Absences                      0
dtype: int64

In [27]:
df.drop_duplicates(inplace=True)

In [28]:
df

,EmpID,MarriedID,MaritalStatusID,GenderID,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,Salary,Termd,...,ManagerName,ManagerID,RecruitmentSource,PerformanceScore,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,LastPerformanceReview_Date,DaysLateLast30,Absences
Employee_Name,,,,,,,,,,,,,,,,,,,,,
"Candie, Calvin",10001,0,0,1,1,5,4,0,72640,0,...,Janet King,2.0,Indeed,Exceeds,5.00,3,0,2/22/2019,0,14
"Anderson, Linda",10002,0,0,0,1,5,4,0,57568,0,...,Amy Dunn,11.0,LinkedIn,Exceeds,5.00,5,0,1/7/2019,0,15
"Billis, Helen",10003,1,1,0,1,5,4,0,62910,0,...,Brannon Miller,12.0,Indeed,Exceeds,5.00,3,0,2/27/2019,0,19
"Lynch, Lindsay",10004,0,0,0,5,5,4,1,47434,1,...,Webster Butler,39.0,Diversity Job Fair,Exceeds,5.00,4,0,2/2/2015,0,17
"Patronick, Lucas",10005,0,0,1,5,4,4,1,108987,1,...,Alex Sweetwater,10.0,Diversity Job Fair,Exceeds,5.00,5,3,8/16/2015,0,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"Stansfield, Norman",10307,1,1,1,1,6,1,0,58273,0,...,Lynn Daneault,21.0,Website,PIP,1.81,2,0,1/17/2019,3,5
"Fernandes, Nilson",10308,1,1,1,1,5,1,0,64057,0,...,Amy Dunn,11.0,Indeed,PIP,1.56,5,0,1/3/2019,6,15
"Fett, Boba",10309,0,0,1,1,3,1,0,53366,0,...,Peter Monroe,7.0,LinkedIn,PIP,1.20,3,6,2/4/2019,3,2
"Desimone, Carl",10310,1,1,1,1,5,1,0,53189,0,...,Amy Dunn,11.0,Indeed,PIP,1.12,2,0,1/31/2019,4,9
"Dee, Randy",10311,1,1,1,1,6,1,0,56991,0,...,Brannon Miller,12.0,Indeed,Fully Meets,4.30,4,3,1/31/2019,2,2

In [29]:
df.columns

Index(['EmpID', 'MarriedID', 'MaritalStatusID', 'GenderID', 'EmpStatusID',
       'DeptID', 'PerfScoreID', 'FromDiversityJobFairID', 'Salary', 'Termd',
       'PositionID', 'Position', 'State', 'Zip', 'DOB', 'Sex', 'MaritalDesc',
       'CitizenDesc', 'HispanicLatino', 'RaceDesc', 'DateofHire',
       'DateofTermination', 'TermReason', 'EmploymentStatus', 'Department',
       'ManagerName', 'ManagerID', 'RecruitmentSource', 'PerformanceScore',
       'EngagementSurvey', 'EmpSatisfaction', 'SpecialProjectsCount',
       'LastPerformanceReview_Date', 'DaysLateLast30', 'Absences'],
      dtype='object')

In [30]:
#Name of employess with higher salary >>top10

In [33]:
df.Salary.sort_values(ascending=False).head(10)

Employee_Name
King, Janet         250000
Zamora, Jennifer    220450
Houlihan, Debra     180000
Foss, Jason         178000
Corleone, Vito      170500
Monroe, Peter       157000
Roper, Katie        150290
Ruiz, Ricardo       148999
Roup,Simon          140920
Dougall, Eric       138888
Name: Salary, dtype: int64